*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e2e2e2;
    border: 2px solid #888;
    width: 230px;
    border-radius: 5px;
}

.div_nome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
}

.div_display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
}
.display{
    width: 220px;
    background-color: #8a8;
    text-align: right;
    padding: 5px;
    font-family:monospace;
    font-size: larger;
}

.div_teclas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    flex-wrap: wrap;

}
.tecla{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border: 3px solid #888;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px;

}

.teclaOp{
    background-color: #f44 !important;
    border-color: #800 !important; 
}